[submodule "pipelines/musicbrainz_to_the_music_tree_api/vendor/musicbrainz-docker"]
	path = pipelines/musicbrainz_to_the_music_tree_api/vendor/musicbrainz-docker
	url = https://github.com/metabrainz/musicbrainz-docker.git
